@media screen and (max-width: 800px){
    header .container{
    display:flex;
    flex-direction:column;
    }

    .botones {
        margin-top: 10px;
        width:300px;
    }
}

@media screen and (min-width:1000px){
.descripcion {
    width:50%;
}
}